nav {
    background-color: var(--colorBarraNavegacion);
    color: white;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

nav ul {
    display: grid;          /*ponemos una grid de 4 columnas, uno para cada elemento de la li del menú de navegación*/
    grid-template-columns: repeat(4,1fr);  /*definimos las 4 columnas con 4 fracciones de grid*/
    text-align: center;     /*centramos el texto de cada elemento de navegación dentro de su columna*/ 
    list-style-type: none;  /*quitamos los bullet points de la lista que conforma la barra de navegación -no debe haberlos-*/
    font-size: 1em;

    max-width: var(--MaximaAnchuraBarraNavegacion); /*tamaño máximo horizontal*/
    margin: 0 auto; /*al definir tamaño máximo hay que centrarlo si no queda pegado a la izquierda. Usamos propiedad shorthand de margin.*/    
}


/* ---- INICIO ÁREA COMENTARIO 1 ---- */

/* Queremos conseguir que en condiciones normales (sin hacer hover encima de los elementos de la navbar) 
haya en todo momento una border "invisible" debajo de cada li de la barra de navegación. Para ello haremos esta border
del mismo color que la barra de navegación. 

Ello tiene una implicación importante. Su existencia permitirá que
al hacer hover sobre un li, al cambiar el color de la misma [B]
la border-bottom no nos moverá los elementos de la web que quedan por debajo cada vez que 
pasemos el ratón por encima [A] y que está definida. Se puede comprobar el problema que habría si borrásemos la linea comentada
con [A]*/

nav ul li span {
    border-bottom: 2px solid var(--colorBarraNavegacion); /*[A}*/

    /*hacemos que cambios de propiedades sean graduales en entrada y salida (para el hover)*/
    transition: background-color var(--tiempoTransicionEstandar) ease-in-out, 
                border-bottom var(--tiempoTransicionEstandar) ease-in-out;

    /*Conseguimos que cada border inferior de cada li, al hacer hover, se acote solamente al texto que ocupa: */
    margin: 0 auto;
    
}

/*queremos que cada elemento del menú de navegación sea dinámico al pasar por encima*/
nav ul li span:hover {
    color: var(--colorBarraNavegacionHover);
    border-bottom: 2px solid var(--colorBarraNavegacionHover); /*[B]*/
}   


/* ---- FIN ÁREA COMENTARIO 1 ---- */

nav ul li img {
    margin: 0 0 .05em 0; /*Subimos un pelín la flecha del desplegable hacia arriba*/
    width: 9%;
    
}

/*SITUAMOS EL li de "Servicios" un poco más cerca de quienes somos*/
nav ul li:first-child {
    position: relative;
    left: 0.8em;
}

/*SITUAMOS EL li "Contacto" un poco mas cerca de "Incorpórate"*/
nav ul li:last-child {
    position: relative;
    right: 1.4em;
}

/*NOTA: PUEDE QUE NOS INTERESE DEFINIRLO COMO UN ESTILO GLOBAL SOLO CON a*/
nav ul li a {
    text-decoration: none; /*Quitamos los subrayados vestigiales de los links, que sino se ven en el hover!*/
    color: inherit;        /*heretamos el color de sus padres, definidos en li y el nav: el blanco y el gris en el hover.*/
}