

:root {
    /* ------------------------------------------
    /* ---- ESTILOS GENERALES iaBigData.html ---- 
    /* ------------------------------------------*/
    --PI_grisIA_gradiente: #424242;
    --PI_amarilloIA_gradiente: #B39840;
    --PI_amarilloIA_BRILLANTE_gradiente: #FFC300;
    --PI_rojoDatos_SUAVE_gradiente: #EF6B6B;
}
