footer {
	background-color: var(--negroFooter);
	color: white;
	padding: 1.2em 0;
    
}
/* Estilo del contenedor principal del footer que organiza las columnas */
.footer-content { 
	display: flex;
	justify-content: space-evenly; /* centrado columnas*/
	align-items: stretch;/* Estira las columnas para que tengan la misma altura */
	margin: 0 auto; /* Centra el contenido horizontalmente dentro del contenedor */
	padding: 0 20px;
}
/* Estilo para las columnas dentro del footer */
.footer-column {
	text-align: center;
    display: flex;
    flex-direction: column;/* Organiza los elementos hijos en columnas */
    padding: 0 20px;    
}
/* Estilo para los títulos dentro de las columnas */
footer h1 {
	font-size: 1.5em;
	margin-bottom: 20px;
    font-weight:500; /* Establece el peso de la fuente semi-negrita */
}
/* Estilo para las listas dentro del footer */
footer ul {
	list-style: none; /* Elimina los puntos de lista de los elementos <ul> */
}
/* Estilo para los elementos de lista dentro del footer */
footer li {
	margin-bottom: 12px;
    font-size: 20px; 
    font-weight: 300;   
}
/* Estilo para los enlaces dentro del footer */
footer a {
	color: white;
	text-decoration: none;
	transition: text-decoration var(--tiempoTransicionEstandar) ease,
				text-shadow var(--tiempoTransicionEstandar) ease; 
}
/*añadido efecto hover*/
footer a:hover{	
				text-decoration: underline;
				text-underline-offset: 4px; /*desplazamiento del subrayado*/
				text-shadow: 0px 0px 9px rgba(238, 238, 238, 0.6);
}
/* Estilo para las barras verticales */
.footer-vertical-bar {
    width: 3px; /* Grosor de la barra */
    height: 170px; /* Altura de la barra */
    background-color: rgb(238, 238, 238); /* Color de la barra */
    margin-bottom: 1%;/* Aplica un margen inferior del 1% para separarla del siguiente contenido */
}
/* Estilo para la línea horizontal que separa el contenido del copyright */
hr {
	margin: 0 12%;/* Margenes laterales para centrar la línea */
    margin-bottom: 0.8%;/*desplazamos el texto copyright hacia abajo*/
}
/* Estilo para el texto de copyright */
#copyright {
    margin-top: 5px;
	text-align: center;
	font-size: 18px;
	opacity: 0.8;/* Establece la opacidad del texto más transparente */
}

/*Evitamos que el contenedor de la footer 
pueda expandirse sin límite horizontalmente
 al hacer el zoom pequeño. Lo acotamos a una anchura máxima
 ligeramente inferior a la de la anchura máxima de las cards de las 
 tecnologias frontend*/
footer > div {
	max-width: var(--MaximaAnchuraFooter);
}