#tec-back-end {
    background: linear-gradient(to bottom, var(--azulOscuroGradiente), var(--negroGradiente)); /* GRADIENTE YA ESTA HECHO BIEN, NO TOCAR */

    /*--- INICIO: JORGE, ESTO BORRALO: ---*/
    height: 30em; 
    color: red;
    border: 10px solid red;
    /*--- FIN BORRAR---*/
} 